<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="login.css" />
</head>
<body>  
    <div class="login-container">
        <img class="title-logo" src="/src/assets/logo.png" />
        <form class="login-form">
            <input type="text" placeholder="Enter your ID" class="login-input">
            <input type="password" placeholder="Enter your Password" class="login-input">
            <div class="button-container">
                <button type="submit" class="login-button">LOGIN</button>
                <a href="signup.html" class="signup-button">SIGN UP</a>
            </div>
        </form>
    </div>
</body>
</html>
